*.iml
.gradle
/local.properties
/.idea
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.ap_
*.aab

# Large files
/media/
/releases/
*.jks
*.keystore
*.zip

# Session files
session-summary-*.txt

# Claude
.claude/
